*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    width: 100vw;
    height: 100vh;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    font-family: 'Orbitron', sans-serif;
    color: #e58cdb;
}
.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.stopwatch-container{
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at 10% 20%, rgb(0, 107, 141) 0%, rgb(0, 69, 91) 90%, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 5px #e58cdb;
    border: 2px solid #e58cdb;
}
.timer-container{
    flex-basis: 50%;
    font-size: 3.125rem;
    font-weight: bold;
}
.timer-container span{
    width: 22.5%;
    height: 50%;
    text-align: center;
}
.control-buttons-container{
    flex-basis: 50%;
}
.control-buttons-container button{
    width: 12rem;
    height: 2.5rem;
    background-color: transparent;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #e58cdb;
    color: #e58cdb;
    transition: 0.5s;
}
.control-buttons-container button:hover{
    box-shadow: 0 0 16px #e58cdb;
    transition: 0.5s;
}
.pause-button{
    margin: 0 1rem;
}